name: Chronolap NuGet Packages

on:
  workflow_dispatch:   

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'   

      - name: Restore dependencies
        run: dotnet restore ./src/Chronolap.sln      

      - name: Build solution
        run: dotnet build ./src/Chronolap.sln --configuration Release --no-restore

      - name: Pack Chronolap
        run: dotnet pack ./src/Chronolap/Chronolap.csproj --configuration Release --no-build -o ./nupkg

      - name: Pack Chronolap.OpenTelemetry
        run: dotnet pack ./src/Chronolap.OpenTelemetry/Chronolap.OpenTelemetry.csproj --configuration Release --no-build -o ./nupkg

      - name: Pack Chronolap.Extensions.Logging
        run: dotnet pack ./src/Chronolap.Extensions.Logging/Chronolap.Extensions.Logging.csproj --configuration Release --no-build -o ./nupkg

      - name: Pack Chronolap.Profiler
        run: dotnet pack ./src/Chronolap.Profiler/Chronolap.Profiler.csproj --configuration Release --no-build -o ./nupkg

      - name: Push all packages to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate
